.form {
  display: flex;
  justify-content: center;
  padding: 8px;
  margin-top: 20px;
  margin-bottom: 24px;
  gap: 10px;
}

.button {
  min-width: 100px;
  padding: 10px 20px;

  border: transparent;
  border-radius: 10px;

  cursor: pointer;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.06em;
  text-align: center;

  background-color: #52646f;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button:hover,
.button:focus {
  background-color: #7d8a91;
}

.input {
  width: 320px;
  padding: 8px;
  border-radius: 10px;
  font-size: 14px;
  border: 1px solid #52646f;
  outline: none;
  color: #52646f;
}
