.header {
  background-color: #52646f;
  box-shadow: inset 0 10px 20px rgba(0, 0, 0, 0.3);
}

.list {
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 20px;
  list-style: none;
  padding-top: 25px;
  padding-bottom: 20px;
  margin: 0;
}

.item {
  color: #7d8a91;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  filter: blur(1px);
}

.item:global(.active) {
  color: #fff;
  filter: blur(0);
}
