.list {
  padding: 0;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

.navLink {
  text-decoration: none;
}

.containerHome {
  width: 175px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.containerHome:hover {
  transform: scale(1.05);
}

.img {
  width: 175px;
  border-radius: 10px;
}

.text {
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  color: black;
}

@media screen and (min-width: 375px) {
}
@media screen and (min-width: 768px) {
  .containerHome {
    width: 200px;
  }

  .img {
    width: 200px;
  }
}
@media screen and (min-width: 1440px) {
  .containerHome {
    width: 250px;
  }

  .img {
    width: 250px;
  }
}
